name: Workspace Package Labeler
on:
  pull_request:
    types: [opened, edited, synchronize]
    branches-ignore:
      - master

jobs:
  label:
    name: Label Package Pull Requests
    runs-on: ubuntu-latest
    steps:
      - name: Label the PR
        uses: donmahallem/lerna-label@dev
        with:
          github_secret: "${{ secrets.GITHUB_TOKEN }}"
          prefix: "pkg"
      - name: Label PRs
        uses: actions/labeler@v3
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
